body {
    background: #5f9ea07d;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.remove-button {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}